@import url("https://fonts.googleapis.com/css?family=Open+Sans:300|Ubuntu:300,400&display=swap");
@keyframes showTopText {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  40%,
  60% {
    transform: translate3d(0, 50%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes showBottomText {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
body {
  background-color: white !important;
}
svg :hover {
  color: #5f94c7;
  cursor: pointer;
}
.container {
  margin: 0 !important;
  margin-bottom: 5% !important;
  max-width: 100vw !important;
  padding: 0;
}
.topnav {
  overflow: hidden;
  background-color: #183857;
}
.topnav .no-icon {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
}
.topnav {
  font-family: "Open Sans", sans-serif;
  font-size: large;
  text-transform: uppercase;
  text-decoration: none !important;
}
.dev-name {
  color: #f2f2f2;
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  width: auto;
}
.git {
  margin-right: 1vw;
}
.git :hover {
  color: #f89b45;
  cursor: pointer;
}
svg {
  color: #f2f2f2;
  width: 20px !important;
}
.topnav .no-icon:hover {
  background-color: white;
  color: black;
  text-decoration: none;
}
.topnav .no-icon.active {
  background-color: #4caf50;
  color: white;
}
.topnav .icon {
  display: none;
}
@media screen and (max-width: 640px) {
  .topnav a:not(:nth-child(-n + 3)) {
    display: none;
  }
  .topnav .icon {
    float: right;
    display: block;
    margin: 11px;
  }
  .columns-block {
    display: block !important;
    margin-bottom: 55px !important;
  }
  .description-block {
    width: 90% !important;
  }
  .description {
    width: 88% !important;
    margin: auto;
    margin-top: -10px !important;
  }
  .skills-block {
    width: 90% !important;
    margin: auto !important;
    margin-top: 15px !important;
  }
  .icon svg {
    height: 28px !important;
    width: 28px !important;
  }
  .topnav .no-icon {
    float: left;
  }
  .git {
    margin-right: 3vw;
  }
}
@media screen and (max-width: 640px) {
  .contacts-block {
    margin-top: 20% !important;
  }
  .project {
    display: block !important;
  }
  .projects-text {
    margin-top: -15px !important;
    font-size: medium !important;
  }
  .project-description-block {
    width: 100% !important;
    font-size: 13px !important;
  }
  .slideshow-back {
    width: 100% !important;
  }
  h2 {
    text-align: center;
  }
  p {
    text-indent: 0px !important;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive .no-icon {
    float: none;
    display: block;
    text-align: left;
  }
  .portfolio-image {
    width: 35vw !important;
    height: 35vw !important;
  }
}
.portfolio-image {
  width: 20vw;
  height: 20vw;
  background-size: 100%;
  border-radius: 50%;
  background-image: url("./image.jpg");
  background-position: center;
  margin: auto;
  border: 6px solid rgba(95, 148, 199, 0.6);
}
.image-block {
  height: auto;
}
.description-block {
  width: 60%;
  margin: auto;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #5f94c7;
  color: white;
  text-align: left;
  padding: 6px;
  z-index: 100;
}
.description {
  margin-top: 12px;
  font-size: large;
  text-align: center;
  width: 60%;
}
.slideshow-back {
  width: 40%;
  height: 110%;
}
.d-block {
  margin: auto !important;
}
.d-block img {
  width: 250px;
}
.img-fluid {
  max-width: 50%;
}
.carousel-indicators {
  position: absolute;
  left: 0;
  right: 0;
  margin-bottom: -10%;
  padding: 0;
}
.project {
  display: flex;
  width: 90%;
  margin: auto;
  margin-bottom: 10%;
}
.project-description-block {
  width: 70%;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-align: justify;
  padding: 20px;
}
a {
  color: #5f94c7;
}
a :active {
  color: #183857;
}
p {
  text-indent: 50px;
}
.project-description {
  margin: 5%;
}
.image-name {
  justify-content: space-around;
  margin: auto;
  margin-bottom: 4%;
  padding-top: 3%;
}
.color-block {
  width: 100%;
  background-color: #87bce8;
}
.animation-block {
  margin-top: 2%;
}
.name-block {
  color: white;
  height: 100%;
  width: 100%;
  font-weight: 300;
}
.info-block {
  color: #183857 !important;
  font-weight: 400;
}
.info-block > div.text-top {
  border-bottom: 1.5px solid #183857 !important;
  font-family: "Open Sans", sans-serif;
  font-size: large;
  font-weight: 600;
  text-transform: uppercase;
}
.name-block > div {
  overflow: hidden;
  width: 100%;
}
.name-block > div div {
  font-size: 24px;
  padding: 1vmin 0;
}
.name-block > div div span {
  display: block;
}
.name-block > div.text-top {
  text-align: center;
  width: 100%;
  border-bottom: 1px solid white;
  top: 0;
}
.name-block > div.text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}
.name-block > div.text-bottom {
  text-align: center;
  bottom: 0;
}
.name-block > div.text-bottom div {
  width: 100%;
  color: white;
  animation: showBottomText 0.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}
.name-animation {
  width: 200px;
  height: 150px;
  margin: auto;
  display: flex;
}
.skills-block {
  width: 40%;
  margin-left: 10%;
  padding: 2.5%;
  padding-bottom: 1%;
  line-height: 200%;
  background-color: #f2f2f2;
}
.columns-block {
  display: flex;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
}
.projects-intro {
  margin: auto;
  text-align: center;
  width: 80%;
  display: block;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 22px;
  margin-top: 2%;
  margin-bottom: 4%;
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%235f94c7' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e") !important;
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%235f94c7' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e") !important;
}
.carousel-indicators li {
  background-color: #5f94c7;
}
.contacts-block {
  margin: auto;
  margin-top: 5%;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  font-weight: 300;
}
